.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
*~
src/*.so
src/*.dll
src/Makevars
config.*
inst/include/RcppArmadilloConfigGenerated.h
inst/extdata/*
inst/docs/*
.Rproj.user/*
tests/*
.Rbuildignore
configure
rm -rf autom4te.cache/
